<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8" />
<title>ARLHB</title>

<link rel="stylesheet" href="arlhb_assets/css/login.css" />

</head>

<body>

	<!-- Form Mixin-->
	<!-- Input Mixin-->
	<!-- Button Mixin-->
	<!-- Pen Title-->
	<div class="pen-title">
		<h1>ARLHB Web Admin</h1>
		<span>Login Form</span>
	</div>
	<!-- Form Module-->
	<div class="module form-module">
		<div class="togglex">
			
		</div>
		
		
		<div class="form">
			<h2>Login to your account</h2>
			<h2 th:if="${param.error}" style="color: red;">
            	Invalid username and password.
        	</h2>
        	<h2 th:if="${param.logout}" style="color: green;">
	            You have been logged out.
	        </h2>
			<form th:action="@{/login}" method="post">
				<input type="text" placeholder="Username" name="username" /> <input
					type="password" placeholder="Password" name="password" />
				<button type="submit">Login</button>
			</form>
		</div>
		<div class="cta">
			<a href="#">Forgot your password?</a>
		</div>
	</div>

</body>
</html>
