<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nusapro.arlhb.mapper.EmployeeMapper">

	<resultMap id="employeeResultMap" type="com.nusapro.arlhb.model.Employee">
	  <id property="employeeId" column="employee_id" />
	  <result property="firstName" column="first_name"/>
	  <result property="lastName" column="last_name"/>
	  <result property="address" column="address"/>
	  <result property="email" column="email"/>
	  <result property="mobilePhoneNumber" column="mobile_phone_number"/>
	  
	  <association property="role" javaType="com.nusapro.arlhb.model.Role">
	  	<id property="roleId" column="role_id" />
	  	<result property="roleName" column="role_name"/>
	  </association>
	</resultMap>
	
	<resultMap id="branchResultMap" type="com.nusapro.arlhb.model.Branch">
	  <id property="corpEntityId" column="corp_entity_id" />
	  <result property="corpEntityName" column="corp_entity_name"/>
	  <result property="corpEntityLevelId" column="corp_entity_level_id"/>
	</resultMap>
	
	<resultMap id="locationResultMap" type="com.nusapro.arlhb.model.Location">
	  <id property="locationId" column="location_id" />
	  <result property="name" column="name"/>
	</resultMap>
	
    <select id="findAllByPage" resultMap="employeeResultMap">
        SELECT m.*, r.role_id, r.role_name FROM employee m 
        LEFT JOIN role r on m.role_id = r.role_id
        WHERE m.first_name LIKE #{searchTxt} LIMIT #{start}, #{pageSize}
    </select>
    
    <select id="countAll" resultType="int">
        SELECT COUNT(1) FROM employee WHERE first_name LIKE #{searchTxt}
    </select>
    
    <select id="findAllBranches" resultMap="branchResultMap">
        SELECT * FROM corp_entity WHERE corp_entity_level_id = 2
    </select>
    
    <select id="findAllLocations" resultMap="locationResultMap">
        SELECT * FROM location
    </select>
</mapper>